body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #c8d0d5;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px; /* Adjust based on header height */
    padding: 20px;
}

.input-section, .content-section, .scene-section, .results-section {
    background-color: #c8d0d5;
    border: 1px solid #c8d0d5;
    padding: 20px;
    border-radius: 8px;
}

.url-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#url {
    flex-grow: 1;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
}

.file-input {
    margin-bottom: 10px;
}

#fetch-btn, input[type="file"]::file-selector-button, #toggle-btn, #toggle-scenes-btn, #generate-scenes-btn, #toggle-raw-llm-btn {
    background-color: #4900ff;
    color: #ffffff;
    border: none;
    padding: 15px 22.5px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fetch-btn:hover, input[type="file"]::file-selector-button:hover, #toggle-btn:hover, #toggle-scenes-btn:hover, #generate-scenes-btn:hover, #toggle-raw-llm-btn:hover {
    background-color: #3a00d1;
}

#generate-scenes-btn.generating {
    background-color: #6c757d;
    cursor: not-allowed;
}

#toggle-btn, #toggle-scenes-btn, #generate-scenes-btn, #toggle-raw-llm-btn {
    margin-bottom: 10px;
    width: 100%;
}

.collapsible {
    display: none;
}

#biography-text, #raw-llm-response {
    white-space: pre-wrap;
}

.scene {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #ffffff;
}

.scene h3 {
    margin-top: 0;
    color: #000000;
}

.scene code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 3px;
}

.scene p {
    margin-bottom: 0;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}